<h1>Listing messages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Message</th>
      <th>User</th>
      <th>Date</th>
      <th>Category</th>
      <th>Dislikes</th>
      <th>Permalink</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.title %></td>
        <td><%= message.text %></td>
        <td><%= message.message_id %></td>
        <td><%= message.user_id %></td>
        <td><%= message.date %></td>
        <td><%= message.category %></td>
        <td><%= message.dislikes %></td>
        <td><%= message.permalink %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
