<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @message.text %>
</p>

<p>
  <strong>Message:</strong>
  <%= @message.message_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @message.user_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @message.date %>
</p>

<p>
  <strong>Category:</strong>
  <%= @message.category %>
</p>

<p>
  <strong>Dislikes:</strong>
  <%= @message.dislikes %>
</p>

<p>
  <strong>Permalink:</strong>
  <%= @message.permalink %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
